@page "/UrlConfiguration/List"

@using AirportSubscribe.Models
@using AirportSubscribe.Models.UrlModels
@using AirportSubscribe.Models.UrlModels.Dto


<div>
    <PageContainer Title="Basic List">
        <Breadcrumb>
            <Breadcrumb>
                <BreadcrumbItem>Home</BreadcrumbItem>
                <BreadcrumbItem>List</BreadcrumbItem>
                <BreadcrumbItem>Basic List </BreadcrumbItem>
            </Breadcrumb>
        </Breadcrumb>
        <ChildContent>
            <div class="standardList">
                <Card Class="listCard"
                      Title="基本列表"
                      Style="margin-top: 24px;"
                      BodyStyle="padding: 0 32px 40px 32px">
                    <ChildContent>
                        @if (!isShowAdd)
                        {
                            <Button Type="dashed"
                                    Style="width: 100%; margin-bottom: 8px;"
                                    OnClick="ShowModal">
                                <Icon Type="plus" Theme="outline" />
                                添加
                            </Button>
                        }
                        else
                        {
                            <div style="border:1px solid #ebedf0;padding:25px">
                                <Form @ref="form"
                                      Layout="@FormLayout.Vertical"
                                      Model="@aipportUrlCommand"
                                      OnFinish="OnFinish"
                                      OnFinishFailed="OnFinishFailed">
                                    <FormItem>
                                        <div>
                                            <RadioGroup @bind-Value="@aipportUrlCommand.UrlType" ButtonStyle="solid">
                                                @foreach (var item in Enum.GetValues(typeof(UrlTypeEnum)).Cast<UrlTypeEnum>())
                                                {
                                                    <Radio RadioButton Value="@(item)">@item.ToString()</Radio>
                                                }
                                            </RadioGroup>
                                        </div>
                                    </FormItem>
                                    <FormItem Label="名称">
                                        <Input @bind-Value="@aipportUrlCommand.UrlName" />
                                    </FormItem>

                                    <FormItem Label="Url">
                                        <Input @bind-Value="@aipportUrlCommand.UrlString" />
                                    </FormItem>

                                    <FormItem Style="text-align: right;">
                                        <Button Type="@ButtonType.Primary" HtmlType="submit">
                                            Submit
                                        </Button>
                                        <Button OnClick="CloseModel">
                                            Close
                                        </Button>
                                    </FormItem>
                                </Form>
                            </div>
                        }
                        <AntList TItem="UrlModelOutDto"
                                 DataSource="_model"
                                 ItemLayout="ListItemLayout.Horizontal">
                            <ListItem Actions="GetRenderFragments(context)">
                                <ListItemMeta Avatar="@context.IconUrl" Description="@context.UrlString">
                                    <TitleTemplate>
                                        <a href="@context.IconUrl">@context.UrlName</a>
                                    </TitleTemplate>
                                </ListItemMeta>
                                <div class="listContent">
                                    <div class="listContentItem">
                                        <span>Owner</span>
                                        <p>@context.CreateUser</p>
                                    </div>
                                    <div class="listContentItem">
                                        <span>开始时间</span>
                                        <p>@context.CreateTime.ToString("yyyy-MM-dd HH:mm")</p>
                                    </div>
                                    <div class="listContentItem">
                                        <AntDesign.Progress Percent="@GetSpeedPercent(context.Speed)"
                                                            Status="@GetSpeedStatus(context.Speed)"
                                                            StrokeWidth="6"
                                                            Style="width: 180px;" />
                                    </div>
                                </div>
                            </ListItem>
                        </AntList>
                        @*<div style="float:right">
                                <Pagination PageIndex="_model.PageIndex" PageSize="_model.PageSize" Total="_model.Total"></Pagination>
                            </div>*@
                    </ChildContent>
                </Card>
            </div>
        </ChildContent>
    </PageContainer>
</div>




@code
{
    private bool isShowAdd = false;

    void ShowModal()
    {
        isShowAdd = true;
        form.Reset();
    }

    void CloseModel()
    {
        isShowAdd = false;
        form.Reset();
    }


    public RenderFragment[] GetRenderFragments(UrlModelOutDto item)
    {
        RenderFragment Edit =@<Button Type="link" OnClick="(async() =>await OnEdit(item))">编辑</Button>;
        RenderFragment Delete =@<Button Type="link" OnClick="(async () =>await OnDelete(item))">删除</Button>;

        return new RenderFragment[] { Edit, Delete };
    }

private void Cw(UrlModelOutDto item)
{
Console.WriteLine(item.Id);
}


private RenderFragment Info(string title, string value, bool bordered = false)
{
return @<div class="headerInfo">
    <span>@title</span><p>@value</p>@if (bordered)
    {<em />}
</div>;
}
}
