@page "/UrlConfiguration/List"

@using AirportSubscribe.Models

<div>
    <PageContainer Title="Basic List">
        <Breadcrumb>
            <Breadcrumb>
                <BreadcrumbItem>Home</BreadcrumbItem>
                <BreadcrumbItem>List</BreadcrumbItem>
                <BreadcrumbItem>Basic List </BreadcrumbItem>
            </Breadcrumb>
        </Breadcrumb>
        <ChildContent>
            <div class="standardList">
                <Card Class="listCard"
                      Title="基本列表"
                      Style="margin-top: 24px;"
                      BodyStyle="padding: 0 32px 40px 32px">
                    <ChildContent>
                        @if (!isShowAdd)
                        {
                            <Button Type="dashed"
                                    Style="width: 100%; margin-bottom: 8px;"
                                    OnClick="ShowModal">
                                <Icon Type="plus" Theme="outline" />
                                添加
                            </Button>
                        }
                        else
                        {
                            <div style="border:1px solid #ebedf0;padding:25px">
                                <Form Layout="@FormLayout.Vertical"
                                      Model="@aipportUrlCommand"
                                      OnFinish="OnFinish"
                                      OnFinishFailed="OnFinishFailed">
                                    <FormItem>
                                        <div>
                                            <RadioGroup @bind-Value="@aipportUrlCommand.UrlType" ButtonStyle="solid">
                                                @foreach (var item in Enum.GetValues(typeof(UrlTypeEnum)).Cast<UrlTypeEnum>())
                                                {
                                                    <Radio RadioButton Value="@(item)">@item.ToString()</Radio>
                                                }
                                            </RadioGroup>
                                        </div>
                                    </FormItem>
                                    <FormItem Label="名称">
                                        <Input @bind-Value="@aipportUrlCommand.UrlName" />
                                    </FormItem>

                                    <FormItem Label="Url">
                                        <Input @bind-Value="@aipportUrlCommand.UrlString" />
                                    </FormItem>

                                    <FormItem Style="text-align: right;">
                                        <Button Type="@ButtonType.Primary" HtmlType="submit">
                                            Submit
                                        </Button>
                                        <Button OnClick="CloseModel">
                                            Close
                                        </Button>
                                    </FormItem>
                                </Form>
                            </div>
                        }
                        <AntList TItem="ListItemDataType"
                                 DataSource="_data"
                                 ItemLayout="ListItemLayout.Horizontal">
                            <ListItem Actions="_actions">
                                <ListItemMeta Avatar="@context.Avatar" Description="@context.SubDescription">
                                    <TitleTemplate>
                                        <a href="@context.Href">@context.Title</a>
                                    </TitleTemplate>
                                </ListItemMeta>
                                <div class="listContent">
                                    <div class="listContentItem">
                                        <span>Owner</span>
                                        <p>@context.Owner</p>
                                    </div>
                                    <div class="listContentItem">
                                        <span>开始时间</span>
                                        <p>@context.CreatedAt.ToString("yyyy-MM-dd HH:mm")</p>
                                    </div>
                                    <div class="listContentItem">
                                        <AntDesign.Progress Percent="@context.Percent"
                                                            Status="@_pStatus[context.Status]"
                                                            StrokeWidth="6"
                                                            Style="width: 180px;" />
                                    </div>
                                </div>
                            </ListItem>
                        </AntList>
                    </ChildContent>
                </Card>
            </div>
        </ChildContent>
    </PageContainer>
</div>



@code
{

    private bool isShowAdd = false;

    void ShowModal()
    {
        isShowAdd = true;
    }

    void CloseModel()
    {
        isShowAdd = false;
    }

    private static readonly RenderFragment Edit =@<a key="edit">编辑</a>;
private static readonly RenderFragment Delete =@<a key="edit">删除</a>;

private readonly RenderFragment[] _actions =
{
                    Edit,
                    Delete
    };

private RenderFragment Info(string title, string value, bool bordered = false)
{
return @<div class="headerInfo">
    <span>@title</span>
    <p>@value</p>
    @if (bordered)
    {<em />}
</div>;
}
}
